* {
  padding: 0;
  margin: 0;
  font-family: 'Comic Neue', cursive;
}

.App-header {
  min-height: 100vh;
  font-family: 'Comic Neue', cursive;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 10px;
}

.menu ul {
  background-color: grey;
  display: flex;
  flex-direction: row;
  list-style: tibetan;
  padding-top: 21px;
  justify-content: space-evenly;
  padding-bottom: 27px;
}

a {
  font-family: 'Comic Neue', cursive;
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
  border-bottom: 2px solid #f6f3f3;
}

.search form {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.search form label,
select,
button {
  align-self: center;
  margin-bottom: 15px;
  width: fit-content;
  border: none;
  padding: 25px;
  font-size: 5vw;
  text-align: center;
}

.newsBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 1px solid gray;
  margin: 10px 5px 40px 10px;
  padding: 20px;
  box-shadow: 5px 10px #888888;
}

.newsBox img {
  width: 174px;
  height: 144px;
}

.newsBox_info {
  padding: 5px;
  padding-left: 39px;
}

.newsBox_info h5,
p {
  font-family: 'Merriweather', serif;
}

.newsBox_info p {
  font-size: 15px;
}

.readLink {
  padding: 9px;
  margin-left: 330px;
}

.translate {
  margin-top: 27px;
  margin-left: 83px;
}

footer {
  background-color: grey;
  padding: 10px;
  text-align: center;
}
